{% extends 'shoprite/base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }} {% else %}Products{% endif %}
{% endblock title %} 

{% block page_header %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Product Catalog</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

  {% block content %}  
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="">
            
                {% for key, value in catalog.items %}
                <div class="row">
                    <h3 style="margin-left: 8px;"> <a href="{{ key.get_absolute_url }}">{{ key.name }}&nbsp;&nbsp;>></a></h3>
        

                    {% for product in value %}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
                                </a>
                            </div>
                            <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                            <div class="product-carousel-price">
                                <ins><del style="
                                text-decoration-style: double;">N</del>{{ product.price }}</ins>
                            </div>  
                            
                            <div class="product-option-shop">
                                <a class="add_to_cart_button" href="{{ product.get_absolute_url }}">Add to cart</a>
                            </div>                       
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{% static 'shoprite/img/product-1.jpg' %}" alt="">
                        </div>
                        <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                        <div class="product-carousel-price">
                            <ins>$899.00</ins> <del>$999.00</del>
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>                       
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{% static 'shoprite/img/product-3.jpg' %}" alt="">
                        </div>
                        <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                        <div class="product-carousel-price">
                            <ins>$899.00</ins> <del>$999.00</del>
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>                       
                    </div>
                </div>
            </div>
    
            
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}